<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
		<link rel='stylesheet' href='/stylesheets/style.css' />
	</head>
	<body>
		<h2>Usage</h2> 
		<code>http://tweet3d.heroku.com/keyword/&lt;your keyword&gt;</code>
	</body>
</html>
